.primary
  color: $primary-color !important

.secondary
  color: $secondary-color !important

.primary-background
  background-color: $primary-color

.secondary-background
  background-color: $secondary-color
